<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title%></title>


  <% include partials/head.html%>
</head>

<body>
  <% include partials/navigation.html%>

  <style>
    body {
      /*font-family: 'Spici'*/
      font-family: 'Crimson Pro', serif;
      font-size: 25px;

    }
  </style>

  <div class="limiter" style="align-content: center">

    <!-- Imagen-->
    <center>
      <div><span class="login100-form-avatar" style="background-image: url(img/bg.jpg)">
          <img src="img/xonu.png" width="500" height="500" class=" w-auto animated bounceIn">
        </span></div>
    </center>

    <br><br><br><br>
    <center>
    <!-- Formulario-->
    <div class="container-login100" style="align-content: center">
      <form class="login100-form validate-form" style="background-color: #7a5947; align-content: center; width: 100%;">

        <h1 style="text-align: center; color: white">Si ya haces parte de XONU, ingresa aqui :3</h1><br><br>

        <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate="Enter username" style="width: 45%">
          <input class="input100" type="text" name="username">
          <span class="focus-input100" data-placeholder="Usuario"></span>
        </div>
        <br>

        <div class="wrap-input100 validate-input m-b-50" data-validate="Enter password" style="width: 45%">
          <input class="input100" type="password" name="pass">
          <span class="focus-input100" data-placeholder="Contraseña"></span>
        </div>
        <br>
        
        <div class="container-login100-form-btn" style="width: 45%">
          <button class="login100-form-btn">
            Ingresar
          </button>
        </div></center>
        <br><br><br><br><br><br>



        </ul>
      </form>
    </div>
  </div>

  <div id="dropDownSelect1"></div>


  <!-- about us :3 -->
  <div class="container-fluid" id="about">
    <div class="row text-white p-5 text-center" style="background-color: #5c3d2d">
      <div class="col-sm-6">
        <img src="img/gato.png" width="300" height="250">
      </div>
      <div class="col-sm-6">
        <h3>Los Comegatitos</h3>
        <p style="color: white">
          <span> Somos el equipo mas vergas :3 </span>
          <br>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          hello


        </p>
      </div>
    </div>
  </div>
  <% include partials/footer.html%>

  <!--===============================================================================================-->
  <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/animsition/js/animsition.min.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/bootstrap/js/popper.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/select2/select2.min.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/daterangepicker/moment.min.js"></script>
  <script src="vendor/daterangepicker/daterangepicker.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/countdowntime/countdowntime.js"></script>
  <!--===============================================================================================-->
  <script src="js/main.js"></script>
</body>




</html>