<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title%></title>
    

    <% include partials/head.html%>
</head>

<body>
    <% include partials/navigation.html%>
    
    <style>
    body{
       /*font-family: 'Spici'*/
        font-family: 'Notable', sans-serif;
        font-size: 16px;
        
    }
    </style>

<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-t-85 p-b-20">
      <form class="login100-form validate-form">
        
        <span class="login100-form-avatar">
          <img src="img/xonu.png"  width="300" height="250" class=" w-auto animated bounceIn">
          
        </span>

        <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Enter username">
          <input class="input100" type="text" name="username">
          <span class="focus-input100" data-placeholder="Usuario"></span>
        </div>
<br>

        <div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
          <input class="input100" type="password" name="pass">
          <span class="focus-input100" data-placeholder="Contraseña"></span>
        </div>
<br>
        <div class="container-login100-form-btn">
          <button class="login100-form-btn">
            Ingresar
          </button>
        </div>
<br>


          
        </ul>
      </form>
    </div>
  </div>
</div>

<div id="dropDownSelect1"></div>

  
      <!-- section one -->
      <div class="container-fluid" id="about">
        <div class="row bg-dark text-white p-5 text-center">
          <div class="col-sm-6">
            <i class="fab fa-youtube fa-10x"></i>  
          </div>
          <div class="col-sm-6">
            <h3>Los Comegatitos</h3>
            <p>
              <span> Somos el equipo mas vergas :3 </span>
            </p>
          </div>
        </div>
      </div>
    <% include partials/footer.html%>

    <!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
  <!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
  <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
  <!--===============================================================================================-->
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
  <!--===============================================================================================-->
    <script src="vendor/countdowntime/countdowntime.js"></script>
  <!--===============================================================================================-->
    <script src="js/main.js"></script>
</body>




</html>